Repository PyScreenReader/PyScreenReader, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Lmh-java, @Andrewyx, @clay-arras

update python test locks
  tests/py/requirements_lock.txt
Owners: @Lmh-java, @Andrewyx, @clay-arras

pin python dev version to 3.13
  MODULE.bazel
  tests/py/requirements_lock.txt
  tools/requirements_lock.txt
Owners: @Lmh-java, @Andrewyx, @clay-arras

pin python dev version to 3.13
  .github/workflows/build.yml
Owners: @Lmh-java, @Andrewyx, @clay-arras

doc generation
  doc/source/reference/index.rst
  doc/source/reference/screen_reader/index.rst
  doc/source/reference/screen_reader/screen_reader.rst
  doc/source/reference/screenreader/screen_reader.md
  doc/source/reference/virtual_widgets/index.rst
  doc/source/reference/virtual_widgets/numeric_value_widget.rst
  doc/source/reference/virtual_widgets/orientation.rst
  doc/source/reference/virtual_widgets/virtual_button_widget.rst
  doc/source/reference/virtual_widgets/virtual_menu_item_widget.rst
  doc/source/reference/virtual_widgets/virtual_menu_widget.rst
  doc/source/reference/virtual_widgets/virtual_progress_bar_widget.rst
  doc/source/reference/virtual_widgets/virtual_scrollbar_widget.rst
  doc/source/reference/virtual_widgets/virtual_slider_widget.rst
  doc/source/reference/virtual_widgets/virtual_spinner_widget.rst
  doc/source/reference/virtual_widgets/virtual_text_input_widget.rst
  doc/source/reference/virtual_widgets/virtual_text_widget.rst
  doc/source/reference/virtual_widgets/virtual_unknown_widget.rst
  doc/source/reference/virtual_widgets/virtual_widget.rst
  doc/source/reference/virtual_widgets/virtual_window_widget.rst
  doc/source/reference/virtualwidgets/numeric_value_widget.md
  doc/source/reference/virtualwidgets/virtual_button_widget.md
  doc/source/reference/virtualwidgets/virtual_group_widget.md
  doc/source/reference/virtualwidgets/virtual_menu_item_widget.md
  doc/source/reference/virtualwidgets/virtual_menu_widget.md
  doc/source/reference/virtualwidgets/virtual_progress_bar_widget.md
  doc/source/reference/virtualwidgets/virtual_scrollbar_widget.md
  doc/source/reference/virtualwidgets/virtual_slider_widget.md
  doc/source/reference/virtualwidgets/virtual_spinner_widget.md
  doc/source/reference/virtualwidgets/virtual_text_input_widget.md
  doc/source/reference/virtualwidgets/virtual_text_widget.md
  doc/source/reference/virtualwidgets/virtual_unknown_widget.md
  doc/source/reference/virtualwidgets/virtual_widget.md
  doc/source/reference/virtualwidgets/virtual_window_widget.md
Owners: @Lmh-java, @Andrewyx, @clay-arras

add documentation to generate_doc script
  tools/generate_doc.py
Owners: @Lmh-java, @Andrewyx, @clay-arras

change ruff to python 3.13
  .ruff.toml
Owners: @Lmh-java, @Andrewyx, @clay-arras

format ruff
  tools/generate_doc.py
Owners: @Lmh-java, @Andrewyx, @clay-arras

add auto-generate header note
  doc/source/reference/screen_reader/screen_reader.rst
  doc/source/reference/virtual_widgets/numeric_value_widget.rst
  doc/source/reference/virtual_widgets/orientation.rst
  doc/source/reference/virtual_widgets/virtual_button_widget.rst
  doc/source/reference/virtual_widgets/virtual_menu_item_widget.rst
  doc/source/reference/virtual_widgets/virtual_menu_widget.rst
  doc/source/reference/virtual_widgets/virtual_progress_bar_widget.rst
  doc/source/reference/virtual_widgets/virtual_scrollbar_widget.rst
  doc/source/reference/virtual_widgets/virtual_slider_widget.rst
  doc/source/reference/virtual_widgets/virtual_spinner_widget.rst
  doc/source/reference/virtual_widgets/virtual_text_input_widget.rst
  doc/source/reference/virtual_widgets/virtual_text_widget.rst
  doc/source/reference/virtual_widgets/virtual_unknown_widget.rst
  doc/source/reference/virtual_widgets/virtual_widget.rst
  doc/source/reference/virtual_widgets/virtual_window_widget.rst
  tools/generate_doc.py
Owners: @Lmh-java, @Andrewyx, @clay-arras

remove inherits xxx from doc
  doc/source/reference/screen_reader/index.rst
  doc/source/reference/virtual_widgets/numeric_value_widget.rst
  doc/source/reference/virtual_widgets/virtual_button_widget.rst
  doc/source/reference/virtual_widgets/virtual_menu_item_widget.rst
  doc/source/reference/virtual_widgets/virtual_menu_widget.rst
  doc/source/reference/virtual_widgets/virtual_progress_bar_widget.rst
  doc/source/reference/virtual_widgets/virtual_scrollbar_widget.rst
  doc/source/reference/virtual_widgets/virtual_slider_widget.rst
  doc/source/reference/virtual_widgets/virtual_spinner_widget.rst
  doc/source/reference/virtual_widgets/virtual_text_input_widget.rst
  doc/source/reference/virtual_widgets/virtual_text_widget.rst
  doc/source/reference/virtual_widgets/virtual_window_widget.rst
  src/bindings.cpp
  src/stubs/virtual_widgets.pyi
  tools/generate_doc.py
Owners: @Lmh-java, @Andrewyx, @clay-arras

revise documentation for doc gen
  doc/source/contributing/documentation.md
Owners: @Lmh-java, @Andrewyx, @clay-arras

add documentation for release
  doc/source/contributing/release.md
Owners: @Lmh-java, @Andrewyx, @clay-arras

add virtual_group_widget binding and documentation
  doc/source/reference/screen_reader/screen_reader.rst
  doc/source/reference/virtual_widgets/numeric_value_widget.rst
  doc/source/reference/virtual_widgets/orientation.rst
  doc/source/reference/virtual_widgets/virtual_button_widget.rst
  doc/source/reference/virtual_widgets/virtual_group_widget.rst
  doc/source/reference/virtual_widgets/virtual_menu_item_widget.rst
  doc/source/reference/virtual_widgets/virtual_menu_widget.rst
  doc/source/reference/virtual_widgets/virtual_progress_bar_widget.rst
  doc/source/reference/virtual_widgets/virtual_scrollbar_widget.rst
  doc/source/reference/virtual_widgets/virtual_slider_widget.rst
  doc/source/reference/virtual_widgets/virtual_spinner_widget.rst
  doc/source/reference/virtual_widgets/virtual_text_input_widget.rst
  doc/source/reference/virtual_widgets/virtual_text_widget.rst
  doc/source/reference/virtual_widgets/virtual_unknown_widget.rst
  doc/source/reference/virtual_widgets/virtual_widget.rst
  doc/source/reference/virtual_widgets/virtual_window_widget.rst
  src/bindings.cpp
  src/stubs/virtual_widgets.pyi
  tests/py/vwidget/widgets/test_virtual_group_widget.py
  tools/generate_doc.py
Owners: @Lmh-java, @Andrewyx, @clay-arras

clang format
  src/bindings.cpp
Owners: @Lmh-java, @Andrewyx, @clay-arras

remove empty line after function sig
  doc/source/_static/custom.css
  doc/source/conf.py
Owners: @Lmh-java, @Andrewyx, @clay-arras

fix indentation
  doc/source/reference/screen_reader/screen_reader.rst
  doc/source/reference/virtual_widgets/numeric_value_widget.rst
  doc/source/reference/virtual_widgets/virtual_button_widget.rst
  doc/source/reference/virtual_widgets/virtual_group_widget.rst
  doc/source/reference/virtual_widgets/virtual_menu_item_widget.rst
  doc/source/reference/virtual_widgets/virtual_menu_widget.rst
  doc/source/reference/virtual_widgets/virtual_progress_bar_widget.rst
  doc/source/reference/virtual_widgets/virtual_scrollbar_widget.rst
  doc/source/reference/virtual_widgets/virtual_slider_widget.rst
  doc/source/reference/virtual_widgets/virtual_spinner_widget.rst
  doc/source/reference/virtual_widgets/virtual_text_input_widget.rst
  doc/source/reference/virtual_widgets/virtual_text_widget.rst
  doc/source/reference/virtual_widgets/virtual_unknown_widget.rst
  doc/source/reference/virtual_widgets/virtual_widget.rst
  doc/source/reference/virtual_widgets/virtual_window_widget.rst
  tools/generate_doc.py
Owners: @Lmh-java, @Andrewyx, @clay-arras

linter
  doc/source/conf.py
  tools/generate_doc.py
Owners: @Lmh-java, @Andrewyx, @clay-arras

add release documentation
  doc/source/contributing/release.md
  doc/source/quickstart.md
Owners: @Lmh-java, @Andrewyx, @clay-arras

adjust trove id to status 2
  platforms/wheel_tags.bzl
Owners: @Lmh-java, @Andrewyx, @clay-arras

adjust trove id to status 2 (#72)
  platforms/wheel_tags.bzl
Owners: @Lmh-java, @Andrewyx, @clay-arras

working text selection extraction
  src/native/win/BUILD
  src/native/win/utils/BUILD
  src/native/win/utils/system_utils.cpp
  src/native/win/utils/system_utils.h
  src/native/win/vwidget_factory_win.cpp
  src/native/win/vwidget_generator_win.h
  src/vwidget/virtual_widget.cpp
  tools/BUILD
  tools/py_inspect.py
Owners: @Andrewyx, @Lmh-java, @clay-arras

renamed template
  src/native/win/utils/system_utils.cpp
  src/native/win/utils/system_utils.h
  src/native/win/vwidget_factory_win.cpp
Owners: @Andrewyx

refactored
  include/vwidget/widgets/virtual_text_input_widget.h
  include/vwidget/widgets/virtual_text_widget.h
  src/native/win/utils/system_utils.cpp
  src/native/win/utils/system_utils.h
  src/native/win/vwidget_factory_win.cpp
  src/native/win/vwidget_generator_win.h
  src/vwidget/widgets/virtual_text_input_widget.cpp
  src/vwidget/widgets/virtual_text_widget.cpp
Owners: @Lmh-java, @Andrewyx, @clay-arras

improved memory usage
  include/vwidget/virtual_widget.h
  include/vwidget/widgets/virtual_text_widget.h
  src/native/win/utils/BUILD
  src/native/win/utils/pattern_data.cpp
  src/native/win/utils/pattern_data.h
  src/native/win/utils/system_utils.cpp
  src/native/win/utils/system_utils.h
  src/native/win/vwidget_factory_win.cpp
  src/vwidget/virtual_widget.cpp
  src/vwidget/widgets/virtual_text_widget.cpp
Owners: @Lmh-java, @Andrewyx, @clay-arras

linting
  include/vwidget/widgets/virtual_text_widget.h
  src/native/win/utils/pattern_data.h
  src/vwidget/widgets/virtual_text_widget.cpp
Owners: @Lmh-java, @Andrewyx, @clay-arras

Selectable Text Support (`IUIAutomationTextPattern` Interface Support) (#73)
  include/vwidget/virtual_widget.h
  include/vwidget/widgets/virtual_text_input_widget.h
  include/vwidget/widgets/virtual_text_widget.h
  src/native/win/BUILD
  src/native/win/utils/BUILD
  src/native/win/utils/pattern_data.cpp
  src/native/win/utils/pattern_data.h
  src/native/win/utils/system_utils.cpp
  src/native/win/utils/system_utils.h
  src/native/win/vwidget_factory_win.cpp
  src/vwidget/widgets/virtual_text_input_widget.cpp
  src/vwidget/widgets/virtual_text_widget.cpp
  tools/BUILD
  tools/py_inspect.py
Owners: @Lmh-java, @Andrewyx, @clay-arras

cleanup and minor fixes
  include/vwidget/numeric_value_widget.h
  include/vwidget/virtual_widget.h
  include/vwidget/widgets/virtual_text_widget.h
  src/native/win/vwidget_generator_win.cpp
  src/vwidget/numeric_value_widget.cpp
  src/vwidget/virtual_widget.cpp
  src/vwidget/widgets/virtual_text_widget.cpp
Owners: @Lmh-java, @Andrewyx, @clay-arras

cleanup and minor fixes (#75)
  include/vwidget/numeric_value_widget.h
  include/vwidget/virtual_widget.h
  include/vwidget/widgets/virtual_text_widget.h
  src/native/win/vwidget_generator_win.cpp
  src/vwidget/numeric_value_widget.cpp
  src/vwidget/virtual_widget.cpp
  src/vwidget/widgets/virtual_text_widget.cpp
Owners: @Lmh-java, @Andrewyx, @clay-arras

move trove id to alpha phase
  platforms/wheel_tags.bzl
Owners: @Lmh-java, @Andrewyx, @clay-arras

Move trove id to alpha phase (#76)
  platforms/wheel_tags.bzl
Owners: @Lmh-java, @Andrewyx, @clay-arras

Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Owners: @Lmh-java, @Andrewyx, @clay-arras

Create SECURITY.md
  SECURITY.md
Owners: @Lmh-java, @Andrewyx, @clay-arras

Create CODE_OF_CONDUCT.md, SECURITY.md (#77)
  CODE_OF_CONDUCT.md
  SECURITY.md
Owners: @Lmh-java, @Andrewyx, @clay-arras

change pid to num instead of string
  include/api/screen_reader.h
  src/api/screen_reader.cpp
  src/native/linux/screen_reader_impl_linux.cpp
  src/native/linux/screen_reader_impl_linux.h
  src/native/macos/screen_reader_impl_mac.cpp
  src/native/macos/screen_reader_impl_mac.h
  src/native/macos/utils/system_utils.cpp
  src/native/macos/utils/system_utils.h
  src/native/win/screen_reader_impl_win.cpp
  src/native/win/screen_reader_impl_win.h
  tools/cpp_inspect.cpp
  tools/py_inspect.py
Owners: @Lmh-java, @Andrewyx, @clay-arras

regenerate stubs
  src/stubs/screen_reader.pyi
Owners: @Lmh-java, @Andrewyx, @clay-arras

format & pass ci
  include/api/screen_reader.h
  src/api/screen_reader.cpp
  src/native/linux/screen_reader_impl_linux.cpp
  src/native/macos/screen_reader_impl_mac.cpp
  src/native/win/screen_reader_impl_win.cpp
  tests/cpp/native/linux/test_screen_reader_impl_linux.cpp
  tests/cpp/native/macos/test_screen_reader_impl_mac.cpp
  tests/cpp/native/win/test_screen_reader_impl_win.cpp
Owners: @Lmh-java, @Andrewyx, @clay-arras

updated img
  .github/assets/PyScreenReader_LOGO_Compressed.png
  .github/assets/PyScreenReader_LOGO_Full_Resolution.png
  .github/assets/bottom_text.svg
  .github/assets/only_eye.svg
  .github/assets/right_side_text.svg
  .github/assets/top_text.svg
  README.md
Owners: @Lmh-java, @Andrewyx, @clay-arras

revised readme
  .github/actions/setup/action.yml
  .github/assets/PyScreenReader_LOGO_Compressed.png
  .github/assets/PyScreenReader_LOGO_Full_Resolution.png
  README.md
Owners: @Lmh-java, @Andrewyx, @clay-arras

reflect api change (pid to num)
  README.md
Owners: @Lmh-java, @Andrewyx, @clay-arras

link to security page
  README.md
Owners: @Lmh-java, @Andrewyx, @clay-arras

remove linux sys API install comments
  README.md
Owners: @Lmh-java, @Andrewyx, @clay-arras

.github/CODEOWNERS:

* @Lmh-java @Andrewyx @clay-arras

# Andrew reviews Windows-related changes
# Minghao reviews MacOS-related changes
src/native/win @Andrewyx
src/native/macos @Lmh-java
src/native/linux @clay-arras
